name: "integration-tests"

on:
  workflow_dispatch:
    push:
      branches:
        - main

# env:
#   FOUNDRY_PROFILE: ci

jobs:
  contract-deploy:
    runs-on: ubuntu-latest
    container: node:24
    permissions:
      contents: read
    services:
      anvil:
        image: p0r070/anvil_fatso:latest
        ports:
          - 8545:8545
        options: >-
                  --health-cmd "cast chain-id"
                  --health-interval 5s
                  --health-timeout 10s
                  --health-retries 10
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
          submodules: recursive

      # - name: Install Foundry
      #   uses: foundry-rs/foundry-toolchain@v1

      - name: Install Foundry
        run: wget https://github.com/foundry-rs/foundry/releases/download/nightly-62cdea8ff9e6efef011f77e295823b5f2dbeb3a1/foundry_nightly_linux_amd64.tar.gz && tar -xzf foundry_nightly_linux_amd64.tar.gz && cp anvil /usr/bin/anvil && cp forge /usr/bin/forge

      - name: Ping anvil
        run: ./cast chain-id --rpc-url http://anvil:8545

      - name: Deploy contract
        run: cd ./contracts/erc20 && ../../forge script script/erc20.s.sol --broadcast --rpc-url http://anvil:8545 --private-key 0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80

